{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
<div class="news-page">
    <div class="container">
        <div class="news-content">
            <div class="title">Lorem</div>
            <div class="content">
                <div class="new">
                    <div class="new-title">Lorem</div>
                    <div class="new-content">
                        <div class="offer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dictum sapien eget commodo. Mauris porta metus nulla, quis efficitur ante varius eget. Duis nec quam eu augue posuere fermentum ac at turpis. Nunc feugiat tellus non ligula porttitor vehicula. Nulla at viverra ante. Phasellus ultricies neque ac erat viverra efficitur. Mauris suscipit augue at tortor bibendum, in tincidunt elit ultrices. Aliquam sodales vestibulum arcu id vulputate. Cras pellentesque rhoncus pretium. Donec dignissim justo in purus pharetra, in interdum turpis iaculis. Vivamus commodo varius ante, id rhoncus ligula luctus eu. Duis pretium sapien sed ipsum porta, ut scelerisque tortor eleifend.</p>
                        </div>
                        <div class="new-image">
                            <img src="{{ asset("images/beets.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="new">
                    <div class="new-title">Lorem</div>
                    <div class="new-content">
                        <div class="offer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dictum sapien eget commodo. Mauris porta metus nulla, quis efficitur ante varius eget. Duis nec quam eu augue posuere fermentum ac at turpis. Nunc feugiat tellus non ligula porttitor vehicula. Nulla at viverra ante. Phasellus ultricies neque ac erat viverra efficitur. Mauris suscipit augue at tortor bibendum, in tincidunt elit ultrices. Aliquam sodales vestibulum arcu id vulputate. Cras pellentesque rhoncus pretium. Donec dignissim justo in purus pharetra, in interdum turpis iaculis. Vivamus commodo varius ante, id rhoncus ligula luctus eu. Duis pretium sapien sed ipsum porta, ut scelerisque tortor eleifend.</p>
                        </div>
                        <div class="new-image">
                            <img src="{{ asset("images/beets.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="new">
                    <div class="new-title">Lorem</div>
                    <div class="new-content">
                        <div class="offer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dictum sapien eget commodo. Mauris porta metus nulla, quis efficitur ante varius eget. Duis nec quam eu augue posuere fermentum ac at turpis. Nunc feugiat tellus non ligula porttitor vehicula. Nulla at viverra ante. Phasellus ultricies neque ac erat viverra efficitur. Mauris suscipit augue at tortor bibendum, in tincidunt elit ultrices. Aliquam sodales vestibulum arcu id vulputate. Cras pellentesque rhoncus pretium. Donec dignissim justo in purus pharetra, in interdum turpis iaculis. Vivamus commodo varius ante, id rhoncus ligula luctus eu. Duis pretium sapien sed ipsum porta, ut scelerisque tortor eleifend.</p>
                        </div>
                        <div class="new-image">
                            <img src="{{ asset("images/beets.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="new">
                    <div class="new-title">Lorem</div>
                    <div class="new-content">
                        <div class="offer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dictum sapien eget commodo. Mauris porta metus nulla, quis efficitur ante varius eget. Duis nec quam eu augue posuere fermentum ac at turpis. Nunc feugiat tellus non ligula porttitor vehicula. Nulla at viverra ante. Phasellus ultricies neque ac erat viverra efficitur. Mauris suscipit augue at tortor bibendum, in tincidunt elit ultrices. Aliquam sodales vestibulum arcu id vulputate. Cras pellentesque rhoncus pretium. Donec dignissim justo in purus pharetra, in interdum turpis iaculis. Vivamus commodo varius ante, id rhoncus ligula luctus eu. Duis pretium sapien sed ipsum porta, ut scelerisque tortor eleifend.</p>
                        </div>
                        <div class="new-image">
                            <img src="{{ asset("images/beets.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="new">
                    <div class="new-title">Lorem</div>
                    <div class="new-content">
                        <div class="offer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dictum sapien eget commodo. Mauris porta metus nulla, quis efficitur ante varius eget. Duis nec quam eu augue posuere fermentum ac at turpis. Nunc feugiat tellus non ligula porttitor vehicula. Nulla at viverra ante. Phasellus ultricies neque ac erat viverra efficitur. Mauris suscipit augue at tortor bibendum, in tincidunt elit ultrices. Aliquam sodales vestibulum arcu id vulputate. Cras pellentesque rhoncus pretium. Donec dignissim justo in purus pharetra, in interdum turpis iaculis. Vivamus commodo varius ante, id rhoncus ligula luctus eu. Duis pretium sapien sed ipsum porta, ut scelerisque tortor eleifend.</p>
                        </div>
                        <div class="new-image">
                            <img src="{{ asset("images/beets.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
