{% extends 'base.html.twig' %}

{% block title %}Oferta{% endblock %}

{% block body %}
<div class="offer-page">
    <div class="container">
        <div class="offer-content">
            <h2 class="title">Oferta</h2>
            <div class="content">
                <div class="offer">
                    <div class="offer-title">
                        KOPANIE I siew buraków
                    </div>
                    <div class="offer-content">
                        <div class="offer-text">
                            <p>Precyzyjny Siew Buraków: Wykorzystujemy nowoczesne siewniki, które zapewniają równomierne rozmieszczenie nasion, optymalną głębokość siewu oraz odpowiednie odstępy, co sprzyja zdrowemu wzrostowi roślin.</p>
                            <p>Profesjonalne Kopanie: Nasze maszyny są wyposażone w najnowsze technologie, które umożliwiają szybkie i skuteczne wykopywanie buraków, minimalizując uszkodzenia roślin i zapewniając wysoką jakość plonów.</p>
                        </div>
                        <div class="offer-image">
                            <img src="{{ asset("images/beets.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer-title">
                        koszenie zbóż Z ODWOZEM
                    </div>
                    <div class="offer-content">
                        <div class="offer-text">
                            <p>Koszenie Zbóż: Wykorzystujemy nowoczesne kombajny, które zapewniają szybkie i dokładne koszenie, minimalizując straty ziarna i uszkodzenia roślin.</p>
                            <p>Odwożenie Zbóż: Po skoszeniu zbóż, nasz zespół zajmuje się natychmiastowym transportem plonów do wyznaczonego miejsca składowania, zapewniając, że zboże jest bezpiecznie przechowywane i gotowe do dalszej obróbki.</p>
                        </div>
                        <div class="offer-image">
                            <img src="{{ asset("images/collection.png") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer-title">
                        siew zbóż I RZEPAKU
                    </div>
                    <div class="offer-content">
                        <div class="offer-text">
                            <p>Precyzyjny Siew Zbóż: Nasze siewniki gwarantują równomierne rozmieszczenie nasion, odpowiednią głębokość siewu oraz właściwe odstępy między roślinami, co sprzyja ich zdrowemu wzrostowi.</p>
                            <p>Profesjonalny Siew Rzepaku: Zastosowanie nowoczesnych technologii umożliwia precyzyjny siew rzepaku, zapewniając doskonałe warunki do jego wzrostu i rozwoju.</p>
                        </div>
                        <div class="offer-image">
                            <img src="{{ asset("images/rice.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer-title">
                        uprawa bezorkowa
                    </div>
                    <div class="offer-content">
                        <div class="offer-text">
                            <p>Zaawansowana Technologia: Wykorzystujemy nowoczesne maszyny do uprawy bezorkowej, które zapewniają skuteczne spulchnienie gleby bez jej nadmiernego przekształcania.</p>
                            <p>Zachowanie Struktury Gleby: Uprawa bezorkowa pozwala na zachowanie naturalnej struktury gleby, co sprzyja lepszemu rozwojowi systemu korzeniowego roślin.</p>
                            <p>Ochrona przed Erozją: Dzięki minimalizacji zabiegów agrotechnicznych, zmniejszamy ryzyko erozji gleby i poprawiamy jej zdolność do zatrzymywania wody.</p>
                        </div>
                        <div class="offer-image">
                            <img src="{{ asset("images/uprawa.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer-title">
                        talerzowanie I ORKA
                    </div>
                    <div class="offer-content">
                        <div class="offer-text">
                            <p>Talerzowanie: Wykorzystujemy zaawansowane talerzówki, które skutecznie spulchniają glebę, rozdrabniają resztki pożniwne i poprawiają jej strukturę. Talerzowanie jest idealne do przygotowania pola przed siewem oraz do wtórnej uprawy gleby.</p>
                            <p>Orka: Nasze nowoczesne pługi zapewniają głęboką orkę, która poprawia napowietrzenie gleby, eliminuje chwasty i przygotowuje pole do siewu. Orka jest kluczowym zabiegiem agrotechnicznym, który wspiera zdrowy rozwój systemu korzeniowego roślin.</p>
                        </div>
                        <div class="offer-image">
                            <img src="{{ asset("images/orka.jpg") }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
