{% block footer %}
    <div class="footer_wrapper">
        <div class="container">
            <div class="footer">
                <div class="content">
                    <h4 class="menu-title">Menu</h4>
                    <a href="{{ path("app_main") }}">Strona główna</a>
                    <a href="{{ path("app_about") }}">O Nas</a>
                    <a href="{{ path("app_offer") }}">Oferta</a>
                    <a href="">Warzywa Bio</a>
                    <a href="{{ path("app_news") }}">Aktualności</a>
                    <a href="">Galeria</a>
                    <a href="">Kontakt</a>
                </div>
                <div class="footer-info">
                    <div class="footer-information">
                        <img src="{{ asset('images/footer_information.png') }}" alt="">
                    </div>
                    <div class="footer-contacts">
                        <img src="{{ asset('images/footer_contacts.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}